/************* Overriding user agent stylesheets **********/

body {
  margin: 0;
}

/************* Overriding user agent stylesheets end **********/

/************ Universal Styling *****************/

h1, h2, h3, h4, h5, p, input, select, option, label, button {
  font-family: 'Indie Flower', cursive;
  text-shadow: 2px 2px 5px #3E3E3E;
}

h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, p:hover {
  cursor: default;
}

input:hover, label:hover, select:hover, option:hover, button {
  cursor: pointer;
}

/************ Universal Styling End *****************/

/**************  Background Image **************/

.parallax1, .registrationPage {
  background-image: url("body bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

/**************  Background Image End **************/

/************ Registration Page ************/

.registration {
  text-align: center;
}

.registrationPage label {
  font-size: 2em;
}

.registrationPage input {
  font-size: 0.75em;
  border-radius: 15px;
}

.registrationPage input {
  font-size: 1em;
  box-shadow: 2px 2px 5px #3E3E3E;
}

input {
  margin: 0.5em;
  color: #000000;
  text-shadow: 0px 0px;
  transition: 0.25s;
}

input:hover {
  background-color: #6699FF;
  transition: 0.25s;
}

.logInSignUpPages {
  display: flex;
  justify-content: space-evenly;
  padding: 40vh 0em 20vh 0em;
}

.logInSignUpDivider {
  border: 1px solid #3E3E3E;
  height: 35vh;
}

/************ Registration Page End************/

/************* welcomeOverlay ***************/

.welcomeOverlay {
  position: fixed;
  /* display: none; */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("welcome overlay bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  opacity: 0.9;
  z-index: 10;
  cursor: pointer;
}

.overlayMsg {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  margin-top: 20vh;
  text-shadow: 2px 4px 5px #000000;
  text-align: center;
}

.welcomeOverlayMsg {
  font-size: 8em;
  margin-top: 10vh;
}

.welcomeOverlayMsg:hover {
  cursor: pointer;
}

/************* welcomeOverlay End ***************/

/********** Header Bar ***********/

.headerBar {
  position: fixed;
  width: 100%;
  background-image: url("header bar bg.jpg");
  background-position: bottom;
  opacity: 0.9;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 8px 6px -5px #000000;
  z-index: 1;
}

.appName {
  width: 100%;
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 4em;
  text-shadow: 2px 2px 5px #FFFFFF;
}

.logOutBtn {
  background-image: url("logout btn bg.jpg");
  background-size: cover;
  font-size: 1.1em;
  border-radius: 25px 0 0 25px;
  border: 1px solid #CCCCCC;
  opacity: 0.9;
  color: #FFFFFF;
  transition: 0.25s;
  box-shadow: -5px 0px 10px 3px #3E3E3E;
}

.logOutBtn:hover, .flipCard:hover .logOutBtn {
  background-image: url("logout btn hover bg.jpg");
  background-size: cover;
  background-position: center;
  text-shadow: 2px 2px 2px #000000;
  opacity: 0.9;
  transition: 0.25s;
}

.flipCard {
  perspective: 100px;
  height: inherit;
}

.flipCardInner {
  transition: 0.25s;
  transform-style: preserve-3d;
  height: 100%;
}

.flipCard:hover .flipCardInner {
  transform: rotateY(-45deg);
}

/********** Header Bar End ***********/

/************** Homepage Content *******************/

.homepage {
  text-align: center;
  padding-top: 0.1em;
}

.welcomeMsg {
  font-size: 4em;
  padding-top: 3.5em;
}

/************** Homepage Content End *******************/

/************ iceCreamOrderForm ***********/

.iceCreamOrderFormTitle {
  color: #FFFF80;
  font-size: 2.5em;
  position: sticky;
  top: 3.75em;
  display: inline-block;
  z-index: 1;
}

.iceCreamOrderForm .formLabel, .iceCreamFormInput {
  font-size: 2em;
}

.formOrderNumber {
  color: #FFFF80;
}

select {
  transition: 0.25s;
  box-shadow: 2px 2px 5px #3E3E3E;
}

select:hover {
  background-color: #6699FF;
  color: #FFFFFF;
  width: 15%;
  transition: 0.25s;
}

.iceCreamFormInputCheckboxLabel {
  transition: 0.25s;
  border-radius: 5px;
}

.iceCreamFormInputCheckboxLabel:hover {
  background-color: #6699FF;
  color: #FFFFFF;
  opacity: 0.7;
  transition: 0.25s;
}

.hotChocolateFudge {
  color: #996633;
  font-size: 1.2em;
}

.iceCreamOrderFormSubmitBtn {
  background-image: url("ice cream order submit btn bg.jpeg");
  font-family: 'Indie Flower', cursive;
  text-shadow: 2px 2px 5px #3E3E3E;
  font-size: 3em;
  border-radius: 25px;
  padding: 0.25em;
  opacity: 0.8;
  transition: 0.25s;
  color: #FFFFFF;
  border: 2px solid #CCCCCC;
  box-shadow: 2px 2px 5px #3E3E3E;
}

.iceCreamOrderFormSubmitBtn:hover {
  background-image: url("ice cream order submit btn hover bg.jpg");
  background-size: cover;
  background-position: 50% 80%;
  opacity: 1;
  width: 90%;
  transition: 2s;
  transition-timing-function: ease-out;
}

/************ iceCreamOrderForm End ***********/

/************* welcomeToHellOverlay ***************/

.welcomeToHellOverlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("hell overlay bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  opacity: 0.9;
  z-index: 10;
  cursor: pointer;
}

.welcomeToHellOverlayMsg {
  font-size: 8em;
}

.welcomeToHellOverlayMsg:hover {
  cursor: pointer;
}

/************* welcomeToHellOverlay End ***************/

/************ Ice Cream Orders **************/

.parallax2 {
  background-image: url("parallax2 bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.username {
  color: #7A0099;
  font-size: 3em;
  text-shadow: 2px 2px 5px #FFFFFF;
}

.iceCreamOrdersTitle {
  color: #FFFFFF;
  margin: 0;
  text-shadow: 2px 2px 5px #000000;
  position: sticky;
  top: 3em;
  display: inline-block;
  z-index: 2;
}

.iceCreamOrdersTitleDevilEmoji {
  text-shadow: 2px 2px 5px #FFFFFF;
}

.orderDescription {
  color: #FFFFFF;
  background-color: #330033;
  opacity: 0.9;
  border-radius: 15px;
  border: 2px solid #CCCCCC;
  box-shadow: 2px 2px 5px #FFFFFF;
  margin: 0.5em;
  display: inline-block;
}

/************ Ice Cream Orders End **************/

