/************* Overriding user agent stylesheets **********/

body {
  margin: 0;
}

h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, p:hover {
  cursor: default;
}

/************* Overriding user agent stylesheets end **********/

/************ Registration Page ************/

.registration {
  text-align: center;
}

input {
  margin: 0.5em;
}

input:hover, label:hover, select:hover, option:hover, button {
  cursor: pointer;
}

/************ Registration Page End************/

/************** Homepage *******************/

.header {
  /* position: fixed; */
  display: flex;
  justify-content: space-between;
}

.homepage {
  text-align: center;
}

/************** Homepage End *******************/