body {
  background-image: url("background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  color: #FFFFFF;
  font-family: "Lucida Sans Unicode", sans-serif;
}

/************* Registration Pages **************/

.linkUL, .registration {
  text-align: center;
}

.registration {
  font-size: 5em;
  font-style: oblique;
  font-family: "Arial", serif;
  font-weight: bold;
  text-shadow: 2px 2px 2px #000000;
}

.registration:hover {
  cursor: default;
}

.registrationForm {
text-align: center;
 background-color: transparent;
}

.linkUL {
  padding: 0;
}

.linkLI {
  background-color: #00CB00;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 3em;
  text-decoration: none;
  opacity: 0.8;
  border-radius: 25px;
  border: 2px solid #FFFFFF;
  box-shadow: 10px 10px 8px #000000;
  display: inline-block;
}

.link:visited {
  text-decoration: none;
}

/************* Registration Pages Ends *****************/

/************** Login and Signup Pages ******************/

input, button {
  border-radius: 25px;
  border: 1px solid #000000;
  box-shadow: 8px 8px 8px #000000;
  display: flex;
  text-align: center;
  margin: 1em;
}

input:hover, button {
  margin: 1em;
}


input:hover, button {
  cursor: pointer;
}

/************** Login and Signup Pages End ******************/

/*************** Users Pages *******************/

.flipCard {
  border: 1px solid #F1F1F1;
  perspective: 1000px;
}

.flipCardInner {
  text-align: center;
  transition: 0.3s;
  transform-style: preserve-3d;
}

.flipCard:hover .flipCardInner {
  transform: rotateY(30deg);
}

.user {
  background-color: grey;
  color: #FFFFFF;
  margin: 0 0.2em 0 0.2em;
  border: 2px solid #FFFFFF;
  border-radius: 25px;
  text-align: center;
  text-shadow: 1px 1px 1px #000000;
  padding: 1em 0;
  box-shadow: 8px 8px 8px #000000;
  opacity: 0.8;
  height:5em;
}

.offlineUsers:focus {
  background-color: orange;
  /* transition: 0.5s; */
}

.logoutButton {
  display: flex;
  padding: 1em 0.5em 1em 0.5em;
  margin: 1em 0.5em 1em 1em;
  background-color: orange;
  color: #FFFFFF;
  width: 40%;
  text-align: center;
  transition: 0.5s;
}

.logoutButton:hover {
  cursor: pointer;
  background-color: #FF0000;
  width: 80%;
  transition: 0.5s;
}

.allUsers {
  display: flex;
}

.allUsers:hover {
  cursor: pointer;
}

.loggedInUser:hover {
  cursor: default;
}

/*************** Users Pages End *******************/

/************** Online Users *****************/

.onlineUsers {
  background-color: #00CB00;
  color: #FFFFFF;
  margin: 0 0.2em 0 0.2em;
  border: 2px solid #FFFFFF;
  border-radius: 25px;
  text-align: center;
  text-shadow: 1px 1px 1px #000000;
  padding: 1em 0;
  box-shadow: 8px 8px 8px #000000;
  opacity: 0.8;
}

/************** Online Users *****************/

/*************** Chatroom *******************/

.chattingWithUserMsg {
  text-shadow: 5px 5px 4px #000000;
  text-align: center;
  font-size: 2em;
  cursor: default;
}

.chatroom {
  padding: 0.5em;
  border: 2px solid #FFFFFF;
  margin-top: 1em;
  border-radius: 25px;
  text-shadow: 1px 1px 1px #000000;
  box-shadow: 8px 8px 8px #FFFFFF;
  opacity: 0.8;
}

.chatroom input:not([type="submit"]) {
  margin: 0.5em;
  display: inline;
  text-align: left;
  padding: 0.5em 50em 0.5em 1em;
}

.submit {
  display: inline;
  padding: 0.5em 1em 0.5em 0.5em;
}


.chatroom input:not([type="submit"]) {
  margin: 0.5em;
  display: inline;
  text-align: left;
  padding: 0.5em 50em 0.5em 1em;
}

.submit {
  display: inline;
  padding: 0.5em 1em 0.5em 0.5em;
}

.submit:hover {
  background-color: #00CB00;
  transition: 0.4s;
}

/*************** Chatroom End *******************/


/*************** Each Message start *******************/

.message-sender-receiver {
	font-family: "Helvetica Neue";
	font-size: 20px;
  max-width: 70vw;
	margin: 1em auto;
  display: flex;
  flex-direction: column;
}

.sender-receiver{
  max-width: 70vw;
  word-wrap: break-word;
  margin-bottom: 12px;
  line-height: 24px;
	padding: 0.25em;
  border-radius: 25px;

}

.sender {
	color: #FFFFFF;
	background: #0B93F6;
	align-self: flex-end;
  border-radius: 25px;
  box-shadow: 8px 8px 8px #000000;
  width: 50vw;
}

.receiver {
	background: #E5E5EA;
	color: black;
  border-radius: 25px;
  box-shadow: 8px 8px 8px #000000;
  text-shadow: 1px 1px 1px #F1F1F1;
  width: 50vw;
}
/*************** EachMessage Ends ************/

/************** Submit button *********************/
input[type="text"]{
  align-items: center;
  display: inline-block;
  width: 500px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid #A9A9A9;
  border-radius: 3px;
  padding: 10px 10px 10px 100px;
  transition: all 0.1s ease-out;
  box-shadow: 5px 5px 5px #FFFFFF;
  font-size: 1em;
  transition: 0.3s;
}

input[type="text"]:focus{
  padding: 10px;
  width: 70%;
  transition: all 0.3s ease-in;
}

input[type="submit"] {
  border:2px solid orange;
  text-shadow: 2px 2px 2px #FFFFFF;
  padding:5px 20px;
  font-size:30px;
  background:repeating-linear-gradient(to right,#00CB00 0,#00CB00 4px,#00CB00 4px, #00CB00 8px) center/0px 100%  no-repeat;
  transition:0.2s all linear;
  align-items: center;
}
input[type="submit"]:hover {
  background-size:100% 100%;
}

.submit {
  box-shadow: 5px 5px 5px #FFFFFF;
}
 /************** Submit button ends *********************/
